[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
click = "*"
pydantic = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-dotenv = "*"
debugpy = "*"
bson = "*"
freezegun = "*"
sqlalchemy = "*"
asyncpg = "*"
python-multipart = "*"
passlib = "*"
greenlet = "*"
python-jose = "*"
motor = "*"
dateparser = "*"
python-dateutil = "*"
qdrant-client = "*"
sentence-transformers = "*"
langchain = "*"
langchain-community = "*"
langchain-mistralai = "*"
langchain-qdrant = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
